#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --primary: #4f9273;
  --primary-container: #dcf2ff;
  --secondary: #f2f6f0;

  --gray-500: #777986;

  --shadow: rgba(0, 0, 0, 0.2);
}

.shadow-box {
  box-shadow: var(--shadow);
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  font-weight: 500;
}

.body {
  font-size: 14px;
  font-weight: 400;
}

.sub-body {
  font-size: 12px;
  font-weight: 400;
}
